
body{
	background: #f7f3f3;
}
.legends {
    position: relative;
    visibility: visible;
    opacity: 1;
    width: 310px;
    height: 187px;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0, .75));
    -moz-box-shadow: 0 0 20px rgba(0,0,0, .75);
    box-shadow: 0 0 20px rgba(0,0,0, .75);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    line-height: 30px;
    float: right;
    padding: 12px;
    display: inline-block;
    top: 61vh;
    right: 30px;
}
.legends>div {
    padding-top: 10px;
}
.container {
top: 55px;
    position: relative;
    visibility: visible;
    opacity: 1;
    width: 613px;
    height: 685px;
    -webkit-box-shadow: 0 0 20px rgba(0,0,0, .75));
    -moz-box-shadow: 0 0 20px rgba(0,0,0, .75);
    box-shadow: 0 0 20px rgba(0,0,0, .75);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    line-height: 18px;
	display: inline-block;
    left: 370px;
}
	
.parkingLot {
    height: 70%;
    width: 100%;
    background: #fff;
    position: relative;
    top: 17%;
    box-shadow: 0px 0px 4px #ccc;
}
.newParkingLot {
    /*background: #fff;*/
    position: relative;
    top: 17%;
    /*box-shadow: 0px 0px 4px #ccc;
	background-image: url("../images/E_Block.png");
	background-size: 100%;
	background-repeat: no-repeat;*/
}
#capgeminiLogo {
    display: inline-block;
    height: 2.1em;
    background-image: url(../images/Logo_Capgemini_White.png);
    width: 10%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 0.5em;
    float: right;
}
#capgeminiCarWithRoad{
	display: inline-block;
    height: 2.1em;
    background-image: url(../images/carParking.png);
    width: 77%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 0.5em;
    clear: both;
}
.plots { position:absolute;  left: 0px; width:1000px;  z-index: 1; } 
.plot1 { position:relative;  width: 100px; height:200px;top: 35px; left: 40px; margin: 0.8% 1%; margin-right:60px; display: inline-block;}
.plot2 { position:relative;  width: 100px; height:200px; top: 35px; left: 20px; margin: 0.8% 1%; margin-right:60px; display: inline-block;}
.plot3 { position:relative;  width: 100px; height:200px; top: 35px; left: 20px; margin: 0.8% 1%; margin-right:10px; display: inline-block;}

span.plot {
    
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
}


img{
	max-width: 100%;
	max-height: 100%;
}



.parkingArea {
	width: 31%;
	display: inline-block;
	/* border: 1px solid #ccc; */
	height: 46%;
	box-shadow: 0px 0px 4px #ccc;
	margin: 0.8% 1%;
	/* margin-right: 1%; */
}
.init {
	background: #b0c9f2;
}
.available {
	background: #c3ec6a;
}
.unavailable {
box-shadow: none;
background: rgba(8, 8, 8, 0.51);
opacity: 0.5;
}
.sensorDown{
	background: #f44949;
}
span.plotLabel {
    font-family: sans-serif;
    float: right;
    /* padding: 5%; */
    color: #666666;
    font-size: 24px;
    position: relative;
    top: 0.2em;
    right: 0.8em;
}
span.carIcon {
    height: 11em;
    width: 14em;
    background-image: url("../images/1484683382_car.png");
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
}
span.noIcon{
  height: 11em;
    width: 14em;
    display: inline-block;
}
.parkingArea span {
    margin-top: 6%;
    margin-left: 6%;
}
.configContainer{
	width: 84%;
    height: 100%;
    margin-left: 8%;
    box-shadow: 0px 0px 4px #ccc;
    background: #ffffff;
}
.pageHeader {
    line-height: 3em;
    padding-left: 20px;
    font-family: Segoe ui;
    font-size: 20px;
    color: #2167a5;
}
#BlockDetails{
    padding: 0 20px;
}
select.configDropDown, select.blockDropDown {
    height: 2em;
    display: block;
    margin: 10px 0px;
    width: 100%;
    border-color: #ccc;
	font-family: Segoe ui;
}
.block>span {
    display: inline-block;
    width: 30%;
}
span.labelText {
    /* line-height: 3em; */
    padding-left: 0px;
    font-family: Segoe ui;
    font-size: 14px;
    color: #666666;
}
.block>span {
    display: inline-block;
    width: 30%;
    margin-right: 3em;
}
.block {
    box-shadow: none;
    padding: 5px 10px;
    margin-top: 15px;
    cursor: pointer;
    background: #fbfbfb;
}
select#blockId {
    width: auto;
}
#BlockDetails>span {
    display: inline-block;
    width: 20%;
    margin-right: 3em;
}
span.keyText {
    font-family: segoe ui;
    color: #908f8f;
    font-size: 12px;
    padding-right: 10px;
}
span.valueText{
  font-family: segoe ui;
    color: #3c3c3c;
    font-size: 12px;
}
/*.block:hover, .block.selected{
box-shadow: 0px 0px 4px #ccc;
 background: #ffffff;
}*/
.blockContainer {
    padding-bottom:40px;	
    border-bottom: 1px solid #f7f1f1;
        margin: 0 20px;
}
.actionContainer {
    padding: 20px;
    float: left;
    display: block;
}
.smallButtons {
    /* height: 2em; */
    width: auto;
    /* line-height: 2em; */
    margin-right: 10px;
    display: inline-block;
}
.smallButtons>button {
    background: #fff;
    border: #ccc;
    line-height: 2em;
}
.smallButtons>button {
    background: #3a84c5;
    border: #2167a5;
    line-height: 2em;
    color: #fff;
    font-size: 14px;
    font-family: segoe ui;
    padding: 0 10px;
    cursor: pointer;
}
.greyBtn>button {
    background: #4d4d4d;
}
#parkinglotContainer,#configurationContainer{
display:none;
}

.sidenav {
        height: 100%;
     width: 250px; 
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0;
    background-color: rgb(34, 34, 34);;
    overflow-x: hidden;
    /* transition: 0.5s; */
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}